{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}
{{ block.super }}

{% block submit_buttons_bottom %}
{{ block.super }}


<div class="submit-row" style="text-align:left;">
        
        <a href="{% if not original.is_vendor_approved %} {% url 'admin:approved' original.pk %} {% endif %}"><input type="button" name="" value="Approved Vendor" {% if original.is_vendor_approved %} disabled {% endif %}></a>
        
        <a href="{% if original.is_vendor_approved %} {% url 'admin:rejected' original.pk %} {% endif %} "><input type="button" name="" value="Reject Vendor" {% if not original.is_vendor_approved %} disabled {% endif %}></a>
</div>
<br/>

{% endblock %}