
{% extends 'header.html' %}
{% load static %}
{% block content %}

    <main class="login-body" data-vide-bg="{% static 'img/login.jpg' %}">
        <!-- Login Admin -->
        <form class="form-default" action="{% url 'helper_app:login' %}" method="POST">
            {% csrf_token %}
            <div class="login-form">
                <!-- logo-login -->
                <div class="logo-login">
                    <a href="index.html"><img src="{% static 'img/logo/logo_loder.png' %}" alt=""></a>
                </div>
                <h2>Login Here</h2>
                <div class="form-input">
                    <label for="name">Email</label>
                    <input  type="email" name="email" placeholder="Email">
                </div>
               
                <div class="form-input pt-30">
                    <input type="submit" name="submit" value="Next">
                </div>
                
                <!-- Forget Password -->
                <a href="{% url 'helper_app:password_reset' %}" class="forget">Forget Password</a>
                <!-- Forget Password -->
                <a href="register.html" class="registration">Registration as a vendor</a>
            </div>
        </form>
        <!-- /end login form -->
    </main>

  

{% endblock content %}
