{% for service in all_services %}
<div class="col-lg-4">
    <div class="properties properties2 mb-30">
        <div class="properties__card">
            <div class="properties__img overlay1">
                <a href="{% url 'helper_app:service_details' service.id %}"><img src="{{service.service_image.url}}"
                        height=250px; alt=""></a>
            </div>
            <div class="properties__caption">
                <p>{{service.category.category_name}}</p>
                <h3><a href="{% url 'helper_app:service_details' service.id %}">{{service.service_name}}</a></h3>
                <p>{{service.description|linebreaks|truncatechars:100}}
                </p>
                <div class="properties__footer d-flex justify-content-between align-items-center">
                    <div class="restaurant-name">
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half"></i>
                        </div>
                        <p><span>(4.5)</span> based on 120</p>
                    </div>
                    <div class="price">
                        <span> ₹ {{service.price}}</span>
                    </div>
                </div>
                <a href="{% url 'helper_app:service_details' service.id %}" class="border-btn border-btn2">View</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}